<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $('#userPassForm').submit(function(){
        $.post(
          '/auth',
          $('#userPassForm').serializeArray(),
          function() {
            window.location = '/';
          });
        return false;
      });
    });
    </script>
</head>
    <body>
        <form id="userPassForm">
      Username:<br>
      <input type="text" name="username">
      <br>
      Password:<br>
      <input type="password" name="password">
      <br><br>
      <input type="submit" value="Submit">
  </form>
    </body>
</html>
